* {
	font-size: 12px;
	background-color: #ffffff; 
	list-style-type: none;
}
h1 {
	text-align: center;
	font-size: 16px;
}
.column-container {
	text-align: center;
	display: flex;
	flex-wrap: nowrap;
	background-color: #f9f8f4;
	max-width: 80%;
	padding: 15px;
	margin: 15px auto;
	
}
.column {
	margin: 0 auto;
	background-color: #ffffff; 
}
.card {
	color: #09897f;
	background-color: #f7f0d7;
	border: solid 1px #09897f; 
	width: 70px;
	height: 80px;
	margin: 5px;
	border-radius: 10%;
}
.add-card, .create-column {
	color: #1b3a21;
	text-align: center;
	border-radius: 20%;
}
.btn-delete {
	color: #1d635d;
	border: solid 1px #1d635d;
	background-color: #ffffff;
	float: right;
	border-radius: 20%;
}
